[Desktop Entry]
Type=Application
Name=KDEConnect Status Indicator
TryExec=kdeconnect-indicator
Exec=kdeconnect-indicator
StartupNotify=false
OnlyShowIn=Unity;
