@import url("/home/ali/.cache/wal/colors-waybar.css");

* {
    border:        none;
    border-radius: 0;
    font-family:   'Liberation Sans';
    font-size:     12pt;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

window {
    color: @foreground;
    background: alpha(@background, 0.40);
}

#workspaces {
    margin: 0 4px;
}

#workspaces button {
    margin: 0;
    padding: 0;
    color: alpha(@foreground, 0.40);
}

#workspaces button.visible {
    color:      @foreground;
}

#workspaces button.focused {
    border-top: 3px solid @foreground;
    border-bottom: 3px solid alpha(@foreground, 0);
}

#workspaces button.urgent {
    color:      @color2;
}

#mode, #battery, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #mpd, #tray {
    margin:     0px 8px;
    min-width:  25px;
}

#idle_inhibitor.deactivated {
    color: alpha(@foreground, 0.40)
}

#clock {
    margin:     0px 16px;
    min-width:  120px;
}

#network {
    font-family: 'Fira Code';
    font-size: 0.9em;
}

#mpd {
    font-weight: bold;
}

#battery.warning {
    color:       @color15;
}

#battery.critical {
    color: @color9;
    animation: blink 800ms linear;  
    animation-iteration-count:infinite;
    animation-direction: alternate;
}

#battery.charging {
    color:      @color10;
}

#battery.charging.full {
    color: @color10;
    animation: blink 800ms linear;  
    animation-iteration-count:infinite;
    animation-direction: alternate;
}

#custom-storage.warning {
    color:      rgba(255, 210, 4, 1);
}

#custom-storage.critical {
    color:      rgba(238, 46, 36, 1);
}

@keyframes blink {
    to {
        color: @foreground;
    }
}
