@import url("/home/ali/.cache/wal/colors-waybar.css");

* {
    border:        none;
    border-radius: 0;
    font-family:   'Fira Sans';
    font-size:     19px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

window {
    color: @foreground;
    background: alpha(@background, 0.40);
}

#workspaces {
    margin: 0 4px;
}

#workspaces button {
    margin: 0;
    padding: 0;
    color:      alpha(@foreground, 0.4);
}

#workspaces button.visible {
    color:      @foreground;
}

#workspaces button.focused {
    border-top: 3px solid @foreground;
    border-bottom: 3px solid alpha(@foreground, 0);
}

#workspaces button.urgent {
    color:      alpha(@color2, 1);
}

#mode, #battery, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #mpd, #tray {
    margin:     0px 6px 0px 10px;
    min-width:  25px;
}

#clock {
    margin:     0px 16px 0px 10px;
    min-width:  140px;
}

#battery.warning {
    color:       alpha(@color15, 1);
}

#battery.critical {
    animation: blink 1s linear;
}

#battery.charging {
    color:      alpha(@color12, 1);
}

#custom-storage.warning {
    color:      rgba(255, 210, 4, 1);
}

#custom-storage.critical {
    color:      rgba(238, 46, 36, 1);
}

@keyframes blink {
    from {
        color: @foreground;
    }
    to {
        color: @color10;
    }
}
