{
    "layer": "top",
    "position": "top",
    "modules-left": ["pulseaudio", "mpd"],
    "modules-center": ["clock"],
    "modules-right": ["network", "backlight", "battery", "tray"],
    "clock": {
        "format": "{:%I:%M %p}",
        "format-alt": "{:%d/%m/%Y}",
        "tooltip-format": "{:%H:%M:%S %d-%m-%Y %Z}"
    },
    "tray": {
        "icon-size": 24,
        "spacing": 16
    },
    "battery": {
        "format": "{capacity}% {icon}",
        "states": {
            "full": 100,
            "normal": 95,
            "warning": 30,
            "critical": 15
        },
        "format-icons": ["", "", "", "", ""]
    },
    "backlight": {
        "format": "{percent}%"
    }
    ,
    "network": {   
        "format-wifi": "{ipaddr}::{essid} ({signalStrength}%) ",
        "format-ethernet": " {ipaddr}::{ifname} ",
        "tooltip-format": "{bandwidthUpBits}  {bandwidthDownBits}  ",
        "format-disconnected": "⚠ Disconnected"
    },
    "pulseaudio": {
        "format": "{volume}% {icon}",
        "format-bluetooth": " {volume}% {icon}",
        "format-muted": "",
        "format-icons": {
            "headset": [" ", " ", " "],
            "default": ["", "", ""]
        },
        "on-click": "pavucontrol",
        "tooltip": "{format_source}"
    },
    "mpd": {
        "format": "{stateIcon} {title}",
        "format-stopped": " STOPPED",
        "tooltip-format": "{artist} - {album} - {title} {singleIcon} {randomIcon}",
        "state-icons": {
            "playing": "",
            "paused": ""
        },
        "random-icons": {"on": ""},
        "single-icons": {"on": ""},
        "max-length": 40
    },

    "custom/celluloid": {
        "format": "{} ",
        "max-length": 40,
        "exec": "$HOME/.config/waybar/mediaplayer.sh",
        "exec-if": "pgrep celluloid"
    }
}
// vim:filetype=json
