{
    "layer": "top",
    "position": "top",
    "modules-left": ["pulseaudio", "custom/spotify"],
    "modules-center": ["clock"],
    "modules-right": ["network", "backlight", "battery", "tray"],
    "clock": {
        "format": "{:%I:%M %p}",
        "format-alt": "{:%d/%m/%Y}",
        "tooltip-format": "{:%H:%M:%S %d-%m-%Y %Z}"
    },
    "tray": {
        "icon-size": 24,
        "spacing": 16
    },
    "battery": {
        "format": "{capacity}% {icon}",
        "states": {
            "full": 100,
            "normal": 95,
            "warning": 30,
            "critical": 15
        },
        "format-icons": ["", "", "", "", ""]
    },
    "backlight": {
        "format": "{percent}%"
    }
    ,
    "network": {   
        "format-wifi": "{essid}::{ipaddr} ",
        "format-ethernet": "{ifname}::{ipaddr} ",
        "tooltip-format": "{bandwidthUpBits}  {bandwidthDownBits}  ",
        "format-disconnected": "DISCONNECTED ⚠"
    },
    "pulseaudio": {
        "format": "{icon} {volume}%",
        "format-bluetooth": " {icon} {volume}%",
        "format-muted": "",
        "format-icons": {
            "headset": [" ", " ", " "],
            "default": ["", "", ""]
        },
        "on-click": "pavucontrol",
        "tooltip": "{format_source}"
    },
    "custom/spotify": {
        "return-type": "json",
        "format": "{}",
        "max-length": 40,
        "exec": "$HOME/.config/waybar/modules/mediaplayer.py --player mpd 2> /dev/null",
        "exec-if": "pgrep mpd"
    }
}
// vim:filetype=json
