[Unit]
Description=Monitors battery level and charging status
ConditionFileIsExecutable=%h/.bin/battery_notifier.sh

[Service]
Type=oneshot
ExecStart=%h/.bin/battery_notifier.sh >/dev/null
